body,h1,h2,h3,p,ul{
    margin:0;
    padding:0; 
}


@media  (max-width: 600px) {
    .logo{
        display: none;
    }
    ul {
        display: none;
    }
    .btn{
        display: none;
    }
    .ru{
        display: none; 
    }
    .btn2{
        display: none;
    }
   

}


.ulogo{
    display: none;
}
.menu-btn{
    display: none;
}

@media (max-width:600px) {
    .menu-btn {
        display:flex;
        position: absolute;
        left: 510px;
        top: 10px; 
    } 
    .ulogo{
        display:flex;
        position: absolute;
        left: 20px;
        top: 10px; 

    }
}


.bottom{
    margin: 90px;
}


.background{
height: 1055px;
width: 1520px;
left: 1251px;
top: 2662px;
border-radius: 0px;
background: #b8ceec;
}

.container{
position: absolute;
top: 30px;
width: 100%;
margin: auto;
display: inline-flex;
justify-content:center;
align-items: center;
gap: 70px;
}
    


    

.navbar li {
    display: inline;
    padding: 0 15px;
}
.navbar li a {
text-decoration: none;
font-family:sans-serif;
font-size: 18px;
font-weight: 400;
line-height: 27px;
letter-spacing: 0em;
text-align: left; 
 }
.btn{  
width: 90px;
height: 40px;
font-weight: 600;
font-size: 18px;
line-height: 28px;
border-radius: 7px;
border-color: rgb(204, 72, 7);
/* display: flex; */
justify-content: center;
color: #1D2039;
flex: none;
order: 1;
flex-grow: 0;
}
.btn2{
    width: 130px;
    height: 40px;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    border-radius: 7px;
    background-color: #F5CC37;
   justify-content: center;
    color: #1D2039;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.btn:hover{
    transition: 1s ease;
    background-color:rgb(229, 247, 111);
    cursor: pointer;
}

.btn2:hover{
    transition: 1s ease;
    background-color:white;
    cursor: pointer;
}




.box{
position: absolute;
width: 1083px;
height: 146px;
left: 219px;
top: 236px;
font-size: 25px;
text-align: center;
color: #1D2039;
}



.box2{
    position: absolute;
    background-color:#FFFFFF;
    height:550px;
    width: 1200px;
    left: 200px;
    right: 450px;
    margin-top: 450px;
    border-radius:10px;
}
.box2 h3{
    position: absolute;
    margin-top: 30px;
    left: 30px;
}
.box2 h1{
    position: absolute;
    margin-top: 20px;
    left: 200px;
    font-family:sans-serif bold;
}

.search input{
    position: absolute;
    top: 15px;
    width: 250px;
    height: 40px;
    left: 900px;
    border-radius: 15px;
    text-align: center; 
    border-color:blue;
    color:blue;
}

.box3{
    position: absolute;
    top: 90px;
    width: 700px;
    height: 50px;
    left: 250px;
    border-radius: 10px;
    text-align:center;
    color: orangered; 
}

.flag{
    position: absolute;  
    top: 100px;
    left:270px;
}
.flaguz{
    position: absolute;  
    top: 100px;
    left:270px;
}
.box4{
    position: absolute;
    top: 210px;
    width: 250px;
    height: 50px;
    left: 500px;
    border-radius: 15px;
    background-color:#FFE600; 
}
.box5{
    position: absolute;
    top: 160px;
    left: 220px;
    display:flex;
    justify-content: space-around;
    gap: 15px;  
}
.box5 button{
    width: 170px;
    height: 50px;
    border-radius:20px;
   
}

.btn-internet{
    position: absolute;
    top: 165px;
    left: 540px;
  
}
.btn-tv{
    position: absolute;
    top: 165px;
    left: 540px;
  
}.btn-uslugi{
    position: absolute;
    top: 165px;
    left: 540px;
  
}.btn-other{
    position: absolute;
    top: 165px;
    left: 540px;
  
}
.btn-internet button{
    width: 150px;
    height: 50px;
    background-color:#FFE600 ;
    border-radius:20px; 
}
.btn-tv button{
    width: 150px;
    height: 50px;
    background-color:#FFE600 ;
    border-radius:20px; 
}
.btn-uslugi button{
    width: 150px;
    height: 50px;
    background-color:#FFE600 ;
    border-radius:20px; 
}
.btn-other button{
    width: 150px;
    height: 50px;
    background-color:#FFE600 ;
    border-radius:20px; 
}

.box6 input{
    position: absolute;
    border: 1px solid black;
    top: 320px;
    width: 700px;
    height: 50px;
    left: 250px;
    border-radius: 10px;
    text-align:center;
    color: orangered;
}

.flag2{
    position: absolute;  
    top: 330px;
    left:270px;
}
.flaguz2{
    position: absolute;  
    top: 330px;
    left:270px;
}

.num-account input{
    position: absolute;
    border: 1px solid black;
    top: 400px;
    width: 700px;
    height: 50px;
    left: 250px;
    border-radius: 10px;
    text-align:center;
    color: orangered;
}


.internet {
    position: absolute;
    top: 210px;
    gap: 20px;
    display: flex;
    flex-direction: column;
} 

.a1{
    position: absolute;
    left: 410px;
}
.a1 :hover{ 
background-color:yellow;
 transition: 1s ease; 
border: 1px solid rgb(254, 10, 10);
border-radius:30px;
}
.a2{
    position: absolute;
    left: 580px;
}
.a2 :hover{
    background-color: yellow;
    transition: 1s ease; 
    border: 1px solid rgb(254, 10, 10);
    border-radius:30px;
    }
.a3{
    position: absolute;
    left: 750px;
}
.a3 :hover{
    background-color:yellow;
    transition: 1s ease; 
    border: 1px solid rgb(254, 10, 10);
    border-radius:30px;
    }
 .online{
    position: absolute;
    top: 250px;
    left: 550px;
    border:2px solid rgb(218, 218, 250);
    border-radius:20px;

 }
 .online :hover{
    border: 2px solid rgb(26, 10, 254);
    border-radius:20px;
    transition: 1s ease; 
 }
.tv{
    position: absolute;
    top:250px;
    left: 450px; 
}

.on-tv :hover{
    border: 2px solid rgb(26, 10, 254);
    border-radius:20px;
    transition: 1s ease; 
}  
.on-tv2 img:hover{
    border: 2px solid rgb(26, 10, 254);
    border-radius:20px;
    transition: 1s ease; 
} 
.uslugi{
    position: absolute;
    top:250px;
    left: 450px;

}
.uslugi img{
    border: 1px solid rgb(136, 239, 239);
    border-radius:20px;
    transition: 1s ease; 
}
.uslugi :hover{
    border: 3px solid rgb(254, 95, 10);
    border-radius:20px;
    transition: 1s ease; 
}   
.other{
    position: absolute;
    top:250px;
    left: 450px;
   
}
.other img{
    border: 1px solid rgb(239, 239, 136);
    border-radius:20px;
    transition: 1s ease; 
}

.other :hover{
    border: 3px solid rgb(10, 254, 10);
    border-radius:20px;
    transition: 1s ease; 
}  
.beeline{
    position: absolute;
    top: 270px;
    left: 550px;
}
.beeline  :hover{
    background-color:yellow;
    transition: 1s ease; 
    border: 1px solid rgb(254, 10, 10);
    border-radius:30px;
}
#hotwater{
    position: absolute;
    top: 250px;
    left: 550px;
}
#hotwater:hover{
    border: 1px solid rgb(136, 239, 239);
    border-radius:20px;
    transition: 1s ease; 
}
#gas{
    position: absolute;
    top: 250px;
    left: 550px;
}
#gas:hover{
    transition: 1s ease; 
    border: 1px solid rgb(136, 239, 239);
    border-radius:20px;
}
#electr{
    position: absolute;
    top: 250px;
    left: 550px;
}
#electr:hover{
    transition: 1s ease; 
    border: 1px solid rgb(136, 239, 239);
    border-radius:20px;
}
#olx1{
    position: absolute;
    top: 250px;
    left: 550px;
    border: 1px solid rgb(239, 239, 136);
    border-radius:20px;
}
#olx1:hover{
    transition: 1s ease; 
    border: 3px solid rgb(10, 254, 10);
    border-radius:20px;
}

#soliq1{
    position: absolute;
    top: 250px;
    left: 550px;
    border: 1px solid rgb(239, 239, 136);
    border-radius:20px;
}
#soliq1:hover{
    transition: 1s ease; 
    border: 3px solid rgb(10, 254, 10);
    border-radius:20px;
}
#greenf1{
    position: absolute;
    top: 250px;
    left: 550px;
    border: 1px solid rgb(239, 239, 136);
    border-radius:20px;
}
#greenf1:hover{
    transition: 1s ease; 
    border: 3px solid rgb(10, 254, 10);
    border-radius:20px;
}


.btns{
   position: absolute;
   top: 480px;
   left: 900px;
   display: flex;
   gap: 15px;  
   
}
.button1:hover{
    transition: 1s ease;
    background-color:blue;
    color: rgb(246, 238, 238);
    cursor: pointer;
}
.button2:hover{
    transition: 1s ease;
    background-color:white;
    color: rgb(5, 5, 132);
    cursor: pointer;
}

.button1{
    width:120px;
    height: 35px;
    border-radius: 7px;
    border:1px solid blue;
    color: blue;
}
.button2{
    width:120px;
    height: 35px;
    border-radius: 7px;
    border:1px solid blue;
    background-color: blue;
    color: white;
}


  @media (max-width:600px) {
    .background{
      width: 100%;
    }
 
    .box h1{
        position: absolute; 
        right: 735px;
        width: 50%;
        font-size: 25px;
        margin-top: -66px; 
       }
     
    .box2{    
     position:absolute;      
     height: 500px;
     width: 470px;
     left: 60px;
     bottom: -150px;
     border-radius: 16px;   
    }
    .box3{
        position: absolute;
        top: 100px;
        width: 430px;
        height: 50px;
        left: 20px;
        border-radius: 10px;
        text-align: center;
        color: orangered;  
    }
    .flag{
        position: absolute;  
        top: 110px;
        left:30px;
    }
    .box4{
        position: absolute;
        top: 190px;
        width: 250px;
        height: 50px;
        left: 120px;
        border-radius: 15px;
        background-color: #FFE600;
    }
    .box5{
        display:flex;
        align-content: flex-end;
        flex-wrap: wrap;
        align-items: center;
        position: absolute;
        top: 162px;
        left: 10px;
        display:flex;
        justify-content: space-around;
        gap: 15px;
        
    }
    .box5 button{
        margin-top: 10px;
        width: 150px;
        height: 50px;
        border-radius:20px;
    }
    
    .box6 input{
        position: absolute;
        top: 350px;
        width: 430px;
        height: 50px;
        left: 20px;
        border-radius: 10px;
        text-align: center;
        color: orangered;  
    }

    .flag2{
        position: absolute;  
        top: 360px;
        left:30px;
    }
    
    .btns{
        position: absolute;
        top: 430px;
        left: 100px;
        display: flex;
        gap: 40px;
    }
    
} 





.footer{
   background-color:blue;
   width: 1520px;
   height: 450px;
}

.my-account{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content:left;
    gap: 70px;
}

.my-account li {
    display: inline;
    padding: 0 15px;
    margin-top: 30px;
}
.my-account li a{
    text-decoration: none;
    color: #FFFFFF;
    margin-top: 30px;
    font-size: 25px;
}
.icons {
width: 55%;
margin:auto;
display: flex;
justify-content:right;
gap: 50px;
position: absolute;
width: 210px;
height: 40px;
left: 920px;
top: 1080px;
}
.icon2{
width: 55%;
margin:auto;
display: flex;
justify-content:right;
gap: 50px;
position: absolute;
width: 210px;
height: 40px;
left: 1120px;
top: 1080px;
}
.frame{
background-color:white;
border-radius: 16px;
position: absolute;
width: 480px;
height: 90px;
left: 870px;
top: 1150px;  
}

.payment{
    display: flex;
    justify-content:space-around;
    margin-top:25px;
    align-items: center;
}

.my-text{
   width: 80%;
    margin: auto;
    display: flex;
    justify-content:left;
    gap: 65px; 
}
.my-text li{
    display: inline;
    padding: 0 15px;
    margin-top: 25px;
}
.my-text li a{
    text-decoration: none;
    color: #FFFFFF;
    font-size: 15px;
    font-family: sans-serif;
}

.my-text2{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content:left;
    gap: 65px; 
}
.my-text2 li{
    display: inline;
    padding: 0 15px;
    margin-top: 10px;
}
.my-text2 li a{
    text-decoration: none;
    color: #FFFFFF;
    font-size: 15px;
    font-family: sans-serif;
}

.footer h2{
    position: absolute;
    margin-top: 70px;
    left: 165px;
    color: #FFFFFF;
}
.frame2{
background-color:white;
border-radius: 16px;
position: absolute;
width: 1200px;
height: 120px;
left: 165px;
top: 1300px;  
}
.partners{
    display: flex;
    justify-content:space-around;
    margin-top:25px;
    align-items: center; 
}
.upaynet{
display: flex;
position:absolute;
left: 165px;
top: 1450px;  
gap: 65px; 
color: #FFFFFF;
}
.adv{
display: flex;
position:absolute;
left: 1050px;
top: 1430px;  
color: #FFFFFF;
}

@media(max-width:600px){
    .footer{
        background-color:blue;
        width: 100%;
        height: 790px;
     }

     .icons{
        gap: 60px;
        position: absolute;
        left: 70px;
        top: 1080px;  
     }
     .icon2{
        position: absolute;
        left: 280px;
        top: 1080px; 
     }
    

    .my-account {
        position: absolute;
        text-decoration: none;
        color: #FFFFFF; 
        top: 1120px;
        left: 60px; 
        gap:70px;
    }
    .my-account li a{
        font-size: 13px; 
        font-family: Impact;
        gap: 50px;
    }
    .my-text{
        position: absolute;
        text-decoration: none;
        color: #FFFFFF;
        font-size: 10px;  
        top: 1160px;
        left: 60px; 
        gap: 10px; 
    }
    .my-text2{
        position: absolute;
        text-decoration: none;
        color: #FFFFFF;
        font-size: 10px;  
        top: 1210px;
        left: 60px; 
        gap: 10px; 
    }
    .upaynet{
        position: absolute;
        text-decoration: none;
        color: #FFFFFF;
        font-size: 13px;  
        top: 1280px;
        left: 215px; 
        flex-direction:column;
        display:flex;
        align-items:flex-start;
        gap: 15px;
        
    }
    .partnr{
        position: absolute;
        text-decoration: none;
        font-family:monospace;
        color: #FFFFFF;
        font-size: 15px;  
        top: 1340px;
        left: 60px; 
        display:flex;
        width: 100%;
    }
   

    .frame2{
        position: absolute;
        width: 100%;
        top: 1470px;
        left:0px;
        width: 100%;
        height: 170px;
       
    }
    .partners{
        align-content: flex-end;
        display: flex;
        flex-wrap: wrap;
        align-items: center;   
    }
    .frame{
        position: absolute;
        width: 100%;
        top: 1690px;
        left:0px;
        
    }
    .adv{
        display: flex;
        position: absolute;
        width: 100%;
        top: 1790px;
        left:150px;
       
    }


}